body {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 25px;
}

header {
    display: block;
}

nav {
    margin: 10px;
}

.behind-name-diary {
    padding-left: 550px;
    color: grey;
}
.diary-name {
    padding-left: 550px;
}

.container {
    width: 65%;
    height: 100%;
}

article {
    float: left;
    width: 70%;
    padding-left: 95px;
    padding-right: 25px;
    padding-top: 30px;
    margin:10px,10px,10px,10px;
}

aside {
    float: right;
    width: 35%;
}

h1 {
    width: 70%;
    font-family:helvetica;
    font-size: 30px;
    padding: 50px;
}

h2 {
    padding: 5px;
    font-size: 18px;
    color: grey;
}

time {
    color: grey;
}

.footer {
    clear: both;
    top: inherit;
    background-color: red;
}

.image-bitcoin {
    padding: 53px;
    padding-bottom: 10px;
    padding-top: 35px;
    }

.subtitle-1 {
    font-size: 18px;
    color: grey;
    list-style: none;
    margin-left: 50px;
}
h4 {
    color: grey;
    padding-left: 52px;
    padding-bottom: 3ex;
}
.second-tittle {
    color: grey;
    font-size: 20px;
    padding-left: 10px;
}
.parag{
    color: black;
    font-family:helvetica;
    padding-left: 52px;
}
.parag-1 {
    padding-left: 52px;
    font-family:helvetica;
}
h3{
    color: black;
    font-size: 25px;
    padding-left: 52px;
    padding-top: 15px;
}
.list-link {
    width: 100%;
    height: 100%;
}
.link-subscribe {
    padding-left: 950px;
}

.img-link {
    width: 40%;
    padding-left: 52px;
}

.images-links {
    padding-left: 45%;
}

.form-sing-in {
    padding-left: 950px;
}
.time-notice {
    color: grey;
}

.sector {
    padding: 
    float: left;
}

.post-image {
    padding: 10px;
}

.bios {
    padding-left: 75px;
}

.link-1 {
    padding-left: 58%;
    padding-top: 1%;
}

.text {
    padding-left: 52px;
    font-family:helvetica;
}

.text-article {
    margin-top: 10px;
    font-size: 18px;
    font-family: georgia;
    width: 45%;
    padding-left: 55px;
    text-align: justify;
    word-spacing: 10px;
}

.dif-bitcoin {
    width: 700px;
    padding-top: 20px;
    padding-bottom: 10px;
}